FOR LOOP

In [ ]:
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)
print(11)
print(12)
print(13)
print(14)
print(15)
print(16)
print(17)
print(18)
print(19)
print(20)
print(21)
print(22)
print(23)
print(24)
print(25)
print(26)
print(27)
print(28)
print(29)
print(30)
print(31)
print(32)
print(33)
print(34)
print(35)
print(36)
print(37)
print(38)
print(39)
print(40)

In [1]:
x='python'
for i in x:
    print(i)

p
y
t
h
o
n

In [3]:
word = 'this is sparta'
for i in word:
    print(i)

t
h
i
s

i
s

s
p
a
r
t
a

In [10]:
fruits = ['apple','banana','lemon']
for item in fruits:
    print(f'i have {item}')

i have apple
i have banana
i have lemon

In [16]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [17]:
for num in range(2,11):
    print('bat',num)

bat 2
bat 3
bat 4
bat 5
bat 6
bat 7
bat 8
bat 9
bat 10

In [18]:
for num in range(1,10,3):
    print('level',num)

level 1
level 4
level 7

In [19]:
for num in range(10,0,-1):
    print(num)

10
9
8
7
6
5
4
3
2
1

In [21]:
for i in range(51):
    print(i*'na')

na
nana
nanana
nananana
nanananana
nananananana
nanananananana
nananananananana
nanananananananana
nananananananananana
nanananananananananana
nananananananananananana
nanananananananananananana
nananananananananananananana
nanananananananananananananana
nananananananananananananananana
nanananananananananananananananana
nananananananananananananananananana
nanananananananananananananananananana
nananananananananananananananananananana
nanananananananananananananananananananana
nananananananananananananananananananananana
nanananananananananananananananananananananana
nananananananananananananananananananananananana
nanananananananananananananananananananananananana
nananananananananananananananananananananananananana
nanananananananananananananananananananananananananana
nananananananananananananananananananananananananananana
nanananananananananananananananananananananananananananana
nananananananananananananananananananananananananananananana
nanananananananananananananananananananananananananananananana
nananananananananananananananananananananananananananananananana
nanananananananananananananananananananananananananananananananana
nananananananananananananananananananananananananananananananananana
nanananananananananananananananananananananananananananananananananana
nananananananananananananananananananananananananananananananananananana
nanananananananananananananananananananananananananananananananananananana
nananananananananananananananananananananananananananananananananananananana
nanananananananananananananananananananananananananananananananananananananana
nananananananananananananananananananananananananananananananananananananananana
nanananananananananananananananananananananananananananananananananananananananana
nananananananananananananananananananananananananananananananananananananananananana
nanananananananananananananananananananananananananananananananananananananananananana
nananananananananananananananananananananananananananananananananananananananananananana
nanananananananananananananananananananananananananananananananananananananananananananana
nananananananananananananananananananananananananananananananananananananananananananananana
nanananananananananananananananananananananananananananananananananananananananananananananana
nananananananananananananananananananananananananananananananananananananananananananananananana
nanananananananananananananananananananananananananananananananananananananananananananananananana
nananananananananananananananananananananananananananananananananananananananananananananananananana

In [22]:
for num in range(1,101):
    if num %3==0 and num %5==0:
        print(num)

15
30
45
60
75
90

In [23]:
places=['paris','london','new york','madrid','rome']
for place in places:
    print(f'{place} cointains {len(place)} characters')

paris cointains 5 characters
london cointains 6 characters
new york cointains 8 characters
madrid cointains 6 characters
rome cointains 4 characters

In [31]:
x = [1,2,3,1,2,1,2,3,1,2,3,1,1,1,1,3,2,1,1,1,2,1,1,1,1,1,1,2,3,3,3,3,2,2,1,1]
c = 0
for i in x:
    if i == 1:
        c += 1
print(c)

19

In [3]:
x=1
while x<10:
    print('run')
    x+=1
print('stop')

run
run
run
run
run
run
run
run
run
stop

In [7]:
n=10
sum=0
i=1
while i<=n:
    sum=sum+i
    i=i+1
print('the sum is',sum)

the sum is 55

In [9]:
while input('continue?')=='y':
    print('you continued running this loop')

you continued running this loop
you continued running this loop
you continued running this loop
you continued running this loop
you continued running this loop
you continued running this loop
you continued running this loop
you continued running this loop
you continued running this loop

In [10]:
while len(input('name a place-'))>0:
    print ('you entered a place')

you entered a place
you entered a place
you entered a place
you entered a place
you entered a place
you entered a place

In [13]:
num=int(input('enter a number'))
while num>0:
    if num %5==0:
        break
    print(num)
    num-=1

99
98
97
96

In [14]:
story= ''
while True:
    line = input('enter a line')
    if line =='':
        break
    story += line+'\n'

In [15]:
print (story)

there was a man
and he will become a pirate king

In [18]:
x=[1,0,2,3,1,2,3,12,3,1,2,31,]
for i in x:
    if i==1:
        continue
    print(i)

0
2
3
2
3
12
3
2
31

In [20]:
fruits=['apple','banana','litchi']
for fruit in fruits:
    print('we have',fruit)
else:
    print('lets eat')

we have apple
we have banana
we have litchi
lets eat

In [4]:
vegs=['potato','onion','carrot','cucumber','tomato']
for veg in vegs:
    print(f'looking at {veg}')
    if veg == 'tomato':
        print('tomato found')
        break
else:
    print('tomato not found')

looking at potato
looking at onion
looking at carrot
looking at cucumber
looking at tomato
tomato found

In [33]:
num = int(input('enter a num='))
for i in range(2,num):
    print(f'{num}/{i}={num%i}')
    if num % i==0:
        print(f'{num}is not a prime number')
        break
else:
    print(f'{num} is a prime number')

7/2=1
7/3=1
7/4=3
7/5=2
7/6=1
7 is a prime number

In [5]:
for idx, val in enumerate(vegs):
    print(idx, val)

0 potato
1 onion
2 carrot
3 cucumber
4 tomato

In [7]:
x=[1,2,3,4,5,6,1]
y=[2,1,3,2,1,2,1]
z=[1,2,0,1,2,1,8]
for i,j,k in zip(x,y,z):
    print(i+j+k,end=' ')

4 5 6 7 8 9 10