Variables

In [3]:
name='zen,lee,huei,min'
print(name)

zen,lee,huei,min

In [2]:
name= 'Gaurav Singh'
color='red,pink,black,blue'
favourite_number= 11
am_i_practcing_coding= True

In [1]:
Name='gaurav'
nAme='gaurav'
naMe='gaurav'
namE='gaurav'

In [7]:
my_name_is='gaurav'
favourite_color='black'
college='DIT University'
hometown='pihoragarh'
state='uttarakhand'

In [9]:
x,y,z='apple','banana','litchi'
print(x)
print(y,z)

apple
banana litchi

In [10]:
a=b=c='apple'
print(a,b,c)

apple apple apple

In [18]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

Data Types

In [19]:
m=2220201
l=8913791379154817457147129845785461894714871847912478123456814
k=-71242146971467

In [20]:
M=23.214141414124
L=-324.523521
K=3842.325e10000

In [21]:
NAme='sam'
Color='black'
Institute='DIT University'

In [22]:
is_my_name_gaurav=True
am_i_student=True
does_i_need_help=False

In [24]:
h=None
j=None

In [25]:
NAMes=['deepak','hans','umesh']

In [26]:
p=(22,31,13,45,6747,43)

In [27]:
colOrs={'red','blue','black'}

In [33]:
my_info={
    'my_name':'gaurav',
    'my_age':20,
    'COLlege':'DIT University'
}

#Operators

In [1]:
x=10+20

In [2]:
x=10-3

In [3]:
x=10*3

In [4]:
x=10/3

In [5]:
x=10%3

In [6]:
x=10//3

In [7]:
x=10**3

In [8]:
x=5

In [9]:
x+=5

In [10]:
x-=5

In [11]:
x*=5

In [12]:
x/=5

In [13]:
x//=5

In [14]:
x**=5

In [15]:
x==5

False

In [16]:
x!=5

True

In [17]:
x<5

True

In [18]:
x>5

False

In [19]:
x<=5

True

In [20]:
x>=5

False

In [21]:
x<5 and x<4

True

In [22]:
x<5 or x<4

True

In [23]:
not(x<5 and x<4)

False

In [26]:
'hello'=='hello'

True

In [27]:
x=[1,2,4,5,6]
y=[1,2,4,5,6]
z=x

In [28]:
x==y

True

In [29]:
x is y

False

In [30]:
x is z

True

In [31]:
days=['monday','tuesday','thursday','friday']

In [32]:
'monday' in days

True

In [33]:
'saturday' in days

False

In [34]:
days=input()

In [35]:
hero=input('who is your favourite hero-:')

In [36]:
name=input('what is your name-:')
age=input('enter your age-:')
college=input('enter your college name-:')
hometown=input('what is your hometown-:')
state=input('input your state-:')

In [37]:
age=int(age)
type(age)

int

In [39]:
x='190'
y='-100'
x+y

'190-100'

In [40]:
x=int(x)
y=int(y)
x+y

90

In [41]:
z=99.22
c=int(z)
type(z)
c
type(c)

int

In [42]:
a=input('your name-:')
type(a)

str

Some examples

In [1]:
name=input('enter your name-:')
city=input('enter your city')
state=input('enter your state-:')
print(f'your name: {name} ðŸ˜Ž')
print(f'your city: {city}')
print(f'your state: {state}')

your name: Gaurav ðŸ˜Ž
your city: Pithoragarh
your state: Uttarakhand

In [3]:
num1=int(input('enter a number:'))
num2=int(input('enter a number:'))
num3=num1*num2
print(f'{num1}*{num2}={num3}')

3*6=18

In [4]:
num1=int(input('enter a number:'))
num2=int(input('enter a number:'))
num3=int(input('enter a number:'))
num4=int(input('enter a number:'))
num5=int(input('enter a number:'))
num6=num1*num2*num3*num4*num5
print(f'{num1}*{num2}*{num3}*{num4}*{num5}={num6}')

1*2*3*4*5=120

In [7]:
base=float(input('enter base:'))
per=float(input('enter perpendicular'))
hypo=(per**2 + base**2) ** 0.5
print(f'Hypotaneous : {hypo}')

Hypotaneous : 5.0

In [9]:
principal=float(input('enter principal:'))
rate=float(input('enter rate:'))
time=float(input('enter time'))
si= (principal*rate*time)/100
a=si+principal
print(f'S.I : {si}')
print(f'Amount : {a}')

S.I : 10.0
Amount : 20.0

In [10]:
print('you see a apple seller')
q=input('do you like apples?')

if q=='yes' :
    print('you purchased 2 kg apples')
if q=='no' :
    print('you dont purchased apples')

you see a apple seller
you dont purchased apples

In [11]:
x=20
if x>5:
    print('x is greater than 5')
    print('this is the info we needed ')
    print('its great')
print('The End')

x is greater than 5
this is the info we needed
its great
The End

In [13]:
temp=float(input('what is the temprature?'))
if temp>70:
    print('wear shorts')
else :
    print('wear pants')
print('get some exersise')

wear pants
get some exersise

In [14]:
score= int(input('your score'))
if score>=90:
    letter = 'A'
elif score>=80:
    letter='B'
elif score>=70:
    letter='C'
elif score>=60:
    letter='D'
else:
    letter='F'
print (letter)

A