In [4]:
2+8+9+8+8+7

42

In [5]:
name = "Gaurav Singh"
age = 20
color ="black"
college ="DIT University"

In [6]:
g= 200000
t= 204834249304896785678467543567547
u= -5452452375327

In [7]:
r= 92.323549735
a= 8.1244480325
v= 87.248e01294

In [8]:
name = 'gaurav'
hometown = 'pithoragarh'
state ='uttarakhand'

In [9]:
is_coding =True
is_fun =False
are_u_enjoying =True

In [10]:
x =None

In [11]:
names = ['gaurav','sam','karan']

In [12]:
vals= [2,99,'python']

In [13]:
color=['black','red','blue']

In [14]:
d=(22,33,3434,545)

In [15]:
h= {33,55,22,56,87,77,332,255,575,'python'}

In [16]:
car_info={
    'brand':'ford',
    'model':'mustang',
    'year':'1964'
}

#Operators

In [17]:
x=1000+299
y=39999-4732
z=89*46
a=100/4
b=10%3
c=1001//4
d=1001**4

In [18]:
x=5

In [19]:
x+=5

In [20]:
x-=5

In [21]:
x*=5

In [22]:
x/=5

In [23]:
x//=5

In [24]:
x**=5

In [25]:
x==5

False

In [26]:
x!=5

True

In [27]:
x>5

False

In [28]:
x<5

True

In [29]:
x>=5

False

In [30]:
x<=5

True

In [31]:
x<5 and x<4

True

In [32]:
x<5 or x<4

True

In [33]:
not(x<5 and x<10)

False

In [34]:
"hello"=='hello'

True

In [35]:
x=[1,2,3,4,5]
y=[1,2,3,4,5]
z=x

In [36]:
x==y

True

In [37]:
x is y

False

In [38]:
x is z

True

In [39]:
days=['monday','tuesday','wednesday','thursday','friday','saturday','sunday']

In [40]:
'monday' in days

True

In [41]:
'holiday' in days

False

In [1]:
msg=input()

In [3]:
hero=input('who is your favourite hero?')

In [1]:
name=input('enter your name:')
age=input('enter age:')
college=input('enter your college name')

In [2]:
age=int(age)
type(age)

int

In [3]:
x='100'
y='-90'
x+y

'100-90'

In [4]:
x=int(x)
y=int(y)
x+y

10

In [7]:
z=2.333
c=int(z)
type(z)
c
type(c)

int

In [9]:
a=input('your name:')
type (a)

str

In [10]:
b=input('enter your age:')
type (b)

str

In [11]:
x=5
x= str(5)
type(x)

str

In [12]:
pi=3.145
p= int(pi)
type(pi)

float

In [13]:
num=0
val=bool(num)
type(val)

bool

In [29]:
married='yes'
m=bool(married)
type(bool)

type

#some more example

In [2]:
name=input('enter your name-:')
city=input('enter your city')
print(f'your name: {name} 😎')
print(f'your city: {city}')

your name: Gaurav 😎
your city: Lucknow

In [6]:
num1=int(input('enter a number:'))
num2=int(input('enter a number:'))
num3=num1+num2
print(f'{num1}+{num2}={num3}')

24234234+23432=24257666

In [7]:
num1=int(input('enter a number:'))
num2=int(input('enter a number:'))
num3=int(input('enter a number:'))
num4=int(input('enter a number:'))
num5=int(input('enter a number:'))
num6=num1+num2+num3+num4+num5
print(f'{num1}+{num2}+{num3}+{num4}+{num5}={num6}')

12+22+33+44+55=166

In [12]:
base=float(input('enter base:'))
per=float(input('enter perpendicular'))
hypo=(per**2 + base**2) ** 0.5
print(f'{per**2+base**2}**{0.5}={hypo}')

25.0**0.5=5.0

In [16]:
principal=float(input('enter principal:'))
rate=float(input('enter rate:'))
time=float(input('enter time'))
si= (principal*rate*time)/100
a=si+principal
print(f'S.I : {si}')
print(f'Amount : {a}')

S.I : 10.0
Amount : 20.0

In [18]:
print('you see a apple seller')
q=input('do you like apples?')

if q=='yes' :
    print('you purchased 2 kg apples')
if q=='no' :
    print('you dont purchased apples')

you see a apple seller
you purchased 2 kg apples

In [27]:
x=20
if x>5:
    print('x is greater than 5')
    print('this is the info we needed ')
    print('its great')
print('The End')

x is greater than 5
this is the info we needed
its great
The End

In [28]:
temp=float(input('what is the temprature?'))
if temp>70:
    print('wear shorts')
else :
    print('wear pants')
print('get some exersise')

wear shorts
get some exersise

In [30]:
score= int(input('your score'))
if score>=90:
    letter = 'A'
elif score>=80:
    letter='B'
elif score>=70:
    letter='C'
elif score>=60:
    letter='D'
else:
    letter='F'
print (letter)

C

In [2]:
salary=19000
if salary>20000:
    hra='5%'
else:
    hra='6%'
print(f'HRA:{hra}')

HRA:6%

In [20]:
hra='5%' if salary>20000 else '6%'
print(f'HRA:{hra}')

HRA:6%

In [11]:
print ('42') if 42 in [22,33,42] else print('21')

42

In [12]:
x='Alice' if'Jon' in 'my name is jonas' else 'Bob'
print (x)

Bob